<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22444126993-p2d9auqcnbpgp82vu3i37s10ldb8nu39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22444126993-p2d9auqcnbpgp82vu3i37s10ldb8nu39</string>
	<key>API_KEY</key>
	<string>AIzaSyChH7ovIMKROiWtmBbGjBPRe93YvKEQy0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>22444126993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcelo.eventsapp</string>
	<key>PROJECT_ID</key>
	<string>events-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>events-swift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22444126993:ios:8869a9cd5c07425b76d2b0</string>
</dict>
</plist>